
<div class="container mt-5">
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
          <div class="card">
              <div class="card-body text-center">
                  <span class="titulo">Generar Pago</span>
                  <form [formGroup]="pagoForm" (ngSubmit)="guardarPago()">
                    <div class="" id="contenedorPago">  
                        <div class="row mt-4" >
                          <div class="col-sm-2">
                            <label>Placa:</label>
                          </div>
                          <div class="col-sm-8">
                            <input validar type="text" id="idPago" name="idPago" placeholder="Placa" class="form-control form-control-lg text-center"
                              formControlName="placa">
                              <div class="text-danger"
                                    *ngIf="pagoForm.get('placa')?.hasError('required') && pagoForm.get('placa')?.touched">
                                    <span>La placa <strong>es obligatoria</strong></span>
                              </div>                       

                          </div>
                        </div>
                        <div class="row mt-4">
                          <div class="col-sm-2">
                            <label>Tipo de Vehiculo:</label>
                          </div>
                          <div class="col-sm-8">
                            <input validar type="number" id="tipoVehiculo" name="tipoVehiculo" placeholder="TIpo Vehiculo" class="form-control form-control-lg text-center"
                              formControlName="tipoVehiculo">
                          </div>
                        </div>
                        
                        <div>
                          <div class="row">
                            <div class="col-sm-2 mt-4">
                              <label>Valor a Pagar:</label>
                            </div>
                            <div class="col-sm-8 mt-4">
                              <input validar type="box" id="valorAPagar" name="valorAPagar" placeholder="Valor " class="form-control form-control-lg text-center"
                              formControlName="valorAPagar" readonly>
                            </div>
                          </div>  
                        </div>
                      
                        <div class="mb-3">
                          <button (click)="calcularPago()" id="btnCalcularPago" type="button"[disabled]="pagoForm.invalid" class="btn btn-warning btn-lg float-middle mt-5 m-5 float-start" >Calcular pago</button>
                          <button type="submit" class="btn btn-success btn-lg float-middle mt-5 float-end m-5" >Pagar</button>
                        </div>
                        <div class="mb-3">
                          <button type="button" class="btn btn-primary">NUevo Pago</button>
                        </div>
                      </div>              
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
